@charset "UTF-8";

.section-title {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#top {
    font-family: cursive;
    color: teal;
    text-decoration: underline;
    border: 3px solid black;
    border-radius: 15px;
    width: 275px;
}
nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px
}
h3 {
    font-weight: bold;
    text-align: center;
}
